<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="{$basePath}/style/admin.css">

	<title>{ifset title}{include title|stripHtml} | {/ifset}NAFU</title>
</head>
<body>
    {if $user->isLoggedIn()}
    <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
        <nav>
        <a n:href="Security:out"><button>Odhlásit</button></a>
            <ul>
                <li><a n:href="Admin:home">Domů</a></li>
                <li><a n:href="Admin:about">O nás</a></li>
                <li><a n:href="Admin:projects">Projekty</a></li>
				<li><a n:href="Admin:contact">Kontakt</a></li>
				<li><a n:href=":Front:Homepage:default" class="leftarrow"><img src="{$basePath}/style/images/leftarrow.svg" width=90></a></li>
            </ul>
		</nav>
    {/if}
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
	<div class="content">
	{include content}
	</div>
	{block scripts}
	<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
	{/block}

</body>
</html>