{block title}Kontakt{/block}
{block content}
<div class="contact">

    <div>
    <h2>{$content[6]->title}</h2>
    <p>{$content[6]->text|noescape}</p>
    </div>
    <div>
    <h2>{$content[7]->title}</h2>
    <p>{$content[7]->text|noescape}</p>
    </div>
    <div>
    <h2>{$content[8]->title}</h2>
    <p>{$content[8]->text|noescape}</p>
    </div>

</div>