@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto.ttf);
}

::-webkit-scrollbar {
	display: none;
  }

@keyframes opacityMid {
	0% {
	  opacity: 0;
	  transform: scale(0.7);
	}
	100% {
	  opacity: 1;
	  transform: scale(1);
	}
  }

  @keyframes opacity {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }

  @keyframes opacitySlideDown {
	0% {
	  opacity: 0;
	  transform: translateY(20%);
	}
	100% {
	  opacity: 1;
	  transform: translateY(0);
	}
  }

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	background: linear-gradient(-45deg, #23d5ab, #23a6d5, #2ad7ce, #4f65b5bc, #23d585);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
	font-size: 1.5rem;
	font-family: Roboto;
	color:white;
	min-height: 100vh;
	
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

header {
	width: 100%;
	padding: 1rem 0 1rem 0;
	height: 2rem;
	text-align: center;
}

header a {
	text-decoration: underline 3px rgba(255, 255, 255, 0);
	padding: 1rem;
	font-size: 1.5rem;
	color: white;
	transition: 300ms;
}

header a:hover {
	text-decoration: none;
	padding: 1rem;
	font-size: 1.5rem;
	text-shadow: rgba(255, 255, 255, 0.575) 0 0 5px;
	text-decoration: underline 3px white;
}

footer {
	height: 3vh;
	width: 100%;
	bottom: 0;
	margin-top: auto;
	text-align: center;
}

h2 {
	font-size: 2.6rem;
	margin-bottom: 2rem;
}

/*Homepage*/

.title {
	margin-top: 2rem;
	display: flex;
	width: 100%;
	justify-content: center;
	text-align: center;
	padding: 5rem 0 5rem 0;
	animation: 2s opacityMid;
	flex-wrap: wrap;
}

.title h1{
	font-size: 6rem;
}

.title p{
	width: 100vw;
	transform: translateY(-2rem);
}

.title img {
	width: 10rem;
	height: 10rem;
	transform: translateY(-2rem);
	filter: invert(1);
}

.services, .about, .gallery, .contact{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.flex-center {
	justify-content: center;
}

.services div, .about div, .contact div {
	width: 25rem;
	opacity: 0;
	animation: 1.5s opacitySlideDown linear;
	animation-fill-mode: both;
	margin: 2rem;
}
.services div img {
	display: block;
	margin: 1rem auto 1rem auto;
	width: 2.5rem;
	height: 2.5rem;
	filter: invert(1);
}
.services div:nth-child(1), .about div:nth-child(1), .contact div:nth-child(1) { animation-delay: .5s }
.services div:nth-child(2), .about div:nth-child(2), .contact div:nth-child(2) { animation-delay: 1s }
.services div:nth-child(3), .contact div:nth-child(3){ animation-delay: 1.5s }

.services h1{
	text-align: center;
}

.services p, .about p {
	text-align: justify;
	color: #eeeeee;
	font-size: 1.3rem;
}

.about {
	margin-top: 4rem;
	margin-bottom: 4rem;
}

.about div {
	width: 50rem !important;
}

/*Gallery-Projects*/

.image {
	margin: 0.5rem;
	margin-top: 1rem;
	width: 25rem;
	height: 15rem;
	border-radius: 0.8rem;
	overflow: hidden;
	display: grid;
	grid-template-areas: "stack";
	animation: 2s opacity linear;
	animation-fill-mode: both;
	color: white;
}



.image > * {
	grid-area: stack;
}

.image > figcaption {
	display: grid;
	align-items: end;
	padding: 1.5rem 2rem;
	background-image: linear-gradient(
		to bottom,
		rgb(33 44 55 / 0),
		rgb(33 44 55 / 0),
		rgb(33 44 55 / 0.75)
	);
}

.image figcaption {
	opacity: 0;
	transition: opacity 300ms;
}

.image:hover figcaption {
	opacity: 1;
}

.image img {
	width: 100%;
	height: 15rem;
    object-fit: cover;
}

.gallery a {
	text-decoration: none;
}

.gallery-title {
	text-align: center;
	animation: 1s opacity linear;
}

/* Contact */
.contact {
	width: 80% !important;
	margin: auto;
	margin-top: 4rem;
}

.contact div {
	width: 30rem !important;
	text-align: center;
	padding: 0 5rem 0 5rem;
}

.contact div img {
	width: 3.5rem;
	filter: invert(1);
	transform: translateY(1.2rem);
}
.contact p {
	text-decoration: none;
	text-align: justify;
	color: #eeeeee;
	font-size: 1.3rem;
}
.contact a {
	text-decoration: underline rgba(255, 255, 255, 0);
	color: #eeeeee;
	transition: 300ms;
}

.contact a:hover {
	text-decoration: underline white;
	color: white;
}